@using System.Web
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
    <head>
     <title>App</title>
    </head>
    <!-- ng-app defines the start of your application. You can the name inside "" should match the name of the mainmodule that you create -->
<body>
<h1>API IS RUNNING...</h1>
</body>
</html>



